---
import { Image } from "astro:assets";
import { ArrowRight } from "lucide-react";
import Image1 from "@/assets/hero/14.jpg";
import Image2 from "@/assets/hero/15.jpg";
import Image3 from "@/assets/hero/Fotos_Oficiales-57.jpg";
import Image4 from "@/assets/hero/Fotos_Oficiales-62.jpg";
---

<section id="Hero" class="mt-16">
    <div
        class="absolute top-0 z-[-2] h-screen w-screen bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <div class="container mx-auto flex flex-col items-center">
        <div class="w-full overflow-clip rounded-lg">
            <div class="grid items-center lg:gap-8 lg:grid-cols-2">
                <div
                    class="container flex flex-col row-start-2 items-center px-8 py-10 text-center lg:mx-auto lg:items-start lg:px-[4rem] lg:py-32 lg:text-left lg:row-span-1"
                >
                    <p class="text-white">Nuevo lanzamiento</p>
                    <h1
                        class="text-white my-6 text-pretty text-2xl font-bold lg:text-5xl"
                    >
                        Restaurante Dominga Domínguez | La Mejor Gastronomía de
                        Mar y Tierra en Coquimbo, Caleta de Peñuelas
                    </h1>
                    <p class="mb-8 max-w-xl text-zinc-400 lg:text-xl">
                        Disfruta de una experiencia gastronómica única con los
                        sabores más frescos del mar y la mejor cocina de tierra,
                        en un ambiente acogedor y con una terraza en el tercer
                        piso con vista panorámica a la Caleta de Pescadores de
                        Coquimbo.
                    </p>
                    <div
                        class="flex w-full flex-col justify-center gap-2 sm:flex-row lg:justify-start"
                    >
                        <a
                            href="/cartas"
                            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full sm:w-auto"
                        >
                            <ArrowRight className="w-4 h-4 mr-2" />
                            Mira nuestra carta
                        </a>
                    </div>
                </div>
                <div
                    class="flex flex-col row-start-1 items-center justify-center lg:row-span-2"
                >
                    <div class="relative aspect-[7/8] h-full w-full">
                        <div
                            class="absolute right-[50%] top-[12%] flex aspect-square w-[24%] justify-center rounded-lg"
                        >
                            <Image
                                src={Image1}
                                alt="Imagen"
                                class="z-10 object-cover w-full h-full rounded-lg"
                            />
                            <Image
                                src={Image1}
                                quality={10}
                                alt="Imagen"
                                class="absolute z-0 inset-0 blur-lg object-cover w-full h-full rounded-lg"
                            />
                        </div>
                        <div
                            class="absolute right-[50%] top-[36%] flex aspect-[5/6] w-[40%] justify-center"
                        >
                            <Image
                                src={Image3}
                                alt="Imagen"
                                class="z-10 object-cover w-full h-full rounded-lg object-left"
                            />
                            <Image
                                src={Image3}
                                quality={10}
                                alt="Imagen"
                                class="absolute z-0 inset-0 blur-lg object-cover w-full h-full rounded-lg object-left"
                            />
                        </div>
                        <div
                            class="absolute bottom-[36%] left-[54%] flex aspect-[5/6] w-[40%] justify-center"
                        >
                            <Image
                                src={Image2}
                                alt="Imagen"
                                class="z-10 object-cover w-full h-full rounded-lg"
                            />
                            <Image
                                src={Image2}
                                quality={10}
                                alt="Imagen"
                                class="absolute z-0 inset-0 blur-lg object-cover w-full h-full rounded-lg"
                            />
                        </div>
                        <div
                            class="absolute bottom-[12%] left-[54%] flex aspect-square w-[24%] justify-center"
                        >
                            <Image
                                src={Image4}
                                alt="Imagen"
                                class="z-10 object-cover w-full h-full rounded-lg"
                            />
                            <Image
                                src={Image4}
                                quality={10}
                                alt="Imagen"
                                class="absolute z-0 inset-0 blur-lg object-cover w-full h-full rounded-lg"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
