---
import Footer from "@/components/interface/Footer.astro";
import Header from "@/components/interface/Header.astro";
import { ClientRouter } from "astro:transitions";
import SEO from "@/components/interface/SEO.astro";
interface Preload {
    as: string;
    href: string;
    type: string;
    rel?: "preload" | "prefetch";
    crossorigin?: string;
}

interface Props {
    title: string;
    description: string;
    preload?: Array<Preload>;
    canonical?: string;
    image?: string;
}

const { title, description, preload, canonical, image } = Astro.props;
import "@/styles/global.css";
---

<!doctype html>
<html lang="es">
    <head>
        <SEO
            canonical={canonical}
            description={description}
            image={image}
            preload={preload}
            title={title}
        />
        <ClientRouter />
    </head>
    <body class="bg-slate-900 overflow-x-hidden">
        <Header />
        <slot />
        <Footer />
    </body>
</html>

<style>
    html {
        scroll-behavior: smooth;
    }
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
